.custom-booked-class {
  background-color: #48cc95 !important;
  color: white !important;
  
}

.custom-complete-class {
  background-color: #898f8c !important;
  color: white !important;
  
}

.custom-cancel-class {
  background-color: #d38a8a !important;
  color: white !important;
  
}