.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top:30px ;
    /* padding: 20px; */

  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    /* margin: 15px 0; */
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-left: 20px;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    height: 40px;
  }
  
  .sidebar a:hover {
    background-color: #34495e;
  }

  .sidebar a:active {
    background-color: #4d5053;
  }
  
  .message-count{
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    margin-left: 35px;
    text-align: right;
    align-items: right;
  }